body {
  margin: 0 0 55px 0;
  /* background-color: #444444; */
}

.nav__new {
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: 9vh;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: flex;
  overflow-x: auto;
}

.nav__link {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 13px;
  color: #444444;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

.nav__link:hover {
  background-color: #eeeeee;
}

.nav__link--active {
  color: #009578;
}

.nav__icon {
  font-size: 18px;
}

.large {
  font-size: large;
}
.btn {
  color: white !important;
}

.card {
  width: 95%;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px !important;
  border-radius: 20px;
}
.challenges {
  overflow: auto;
  height: 83vh;
  padding-bottom: 15px;
}
.dropdown-item {
  max-width: 100% !important;
}
#challenges1 {
  height: 8vh;
}

.addcard {
  padding: 0;
}

.form-control {
  border: 0 !important;
}

.form-control:active {
  border: 0 !important;
}

#me {
  background-color: rgb(71, 71, 71);
  color: white;
}
/* .table {
  overflow: auto;
} */

#challenges .card-text {
  color: red;
  font-weight: bold;
}

#challenges .card-title {
  color: wheat;
}

#challenges .card-title.large {
  font-weight: bold;
}

#challenges .card-body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("img/c1.jpg");
  z-index: ;
  background-size: contain;
  background-color: #cccccc;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  color: red;
  font-weight: bold;
}

.g-signin2 {
  width: 100%;
}

.g-signin2 > div {
  margin: 0 auto;
}

#root .dropdown-menu {
  width: 97%;
}

#exampleModalCenterTitle {
  font-weight: bold;
}